<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filters.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/FreeSessionAttributesDataServlet</url-pattern>
        <url-pattern>/ProceedWithCheckOut</url-pattern>
        <url-pattern>/checkout.jsp</url-pattern>
        <url-pattern>/UserProfile.jsp</url-pattern>



    </filter-mapping>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/adminservlets/*</url-pattern>
        <url-pattern>/imageservlets/*</url-pattern>
        <url-pattern>/AddProducts.jsp</url-pattern>
        <url-pattern>/AllProducts.jsp</url-pattern>
        <url-pattern>/AllUsers.jsp</url-pattern>
        <url-pattern>/CartHistory.jsp</url-pattern>
        
        
    </filter-mapping>
    <listener>
        <description>ServletContextListener, ServletContextAttributeListener</description>
        <listener-class>listeners.EElectronicsContextListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>listeners.SessionCreatedListner</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPage1.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage1.jsp</location>
    </error-page>
</web-app>
